* text=auto
*.rc text
*.c working-tree-encoding=GBK
*.cpp working-tree-encoding=GBK
*.h working-tree-encoding=GBK
*.hpp working-tree-encoding=GBK
*.cxx working-tree-encoding=GBK
*.hxx working-tree-encoding=GBK
