*.c text working-tree-encoding=GBK
Source/WinObjEx64/ui.h text working-tree-encoding=GBK
Source/WinObjEx64/resource.h text working-tree-encoding=UTF-16LE-BOM
Source/WinObjEx64/resource.rc binary
Source/WinObjEx64/sup/sup.c text working-tree-encoding=GBK
Source/WinObjEx64/props/propSecurityConsts.h text working-tree-encoding=GBK