Source/.vs
Source/.vs/*
Source/WinObjEx64/output
Source/WinObjEx64/output/*
source/plugins/apisetview/output
source/plugins/apisetview/output/*
source/winobjex64/plugins
source/enc_temp_folder
source/enc_temp_folder/*
*.aps
Source/Plugins/ExamplePlugin/output/*
Source/Plugins/ExamplePlugin/output
Source/Plugins/ImageScope/output/*
Source/Plugins/ImageScope/output
Source/Plugins/Sonar/output/*
Source/Plugins/Sonar/output